In [26]:
from parameters.parameters import file_path
from data_ingestion.ingest import get_data
import time

In [27]:
file_path

'/Users/biddie/Projects/Datascience/finalproject/data/author_data_new.csv'

In [28]:
# Stage 0 - Data Ingestion
print("Starting Data Ingestion")
print("Starting Authors Data...")
start_time = time.time()
author_data_new = get_data(file_path)
end_time = time.time()
print(f"Execution time for Author Data Ingestion is {end_time - start_time} seconds")
print(f"Size of Author Data is {author_data_new.shape}")
print(author_data_new.head())

Starting Data Ingestion
Starting Authors Data...
Execution time for Author Data Ingestion is 0.03677988052368164 seconds

AttributeError: 'NoneType' object has no attribute 'shape'

In [29]:
import pandas as pd
df = pd.read_csv('data/author_data_new.csv')

In [30]:
df.shape

(2998, 9)

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.head()

,friends,verified,longitude,status_count,sentiment,latitude,country,tweet,platform
0,632,False,-2.320057,106490.0,0.0,52.119377,GB,@moel_bryn https://t.co/qvz1bI2Utb,twitter
1,278,False,-0.337062,31467.0,-1.0,51.595852,GB,Who wants to rap battle with me on stream tomo...,twitter
2,169,False,-0.278464,1185.0,-1.0,51.390071,GB,i think she'd Understand but there's like Noth...,twitter
3,195,False,0.026299,2742.0,-1.0,51.394369,GB,@SoccerSix #SoccerSixNashGrier pleassssssseeee...,twitter
4,572,False,-0.092633,18332.0,0.0,51.358951,GB,@GraceLazard ðŸ’–,twitter