In [1]:
import pandas as pd
import numpy as np
import os
import json
import seaborn as sns
import chart_studio.plotly as py
import plotly.graph_objects as go
import geopandas as gpd


# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
FILE_CSV = "author_data_new.csv"
DATA_FOLDER = "data"

In [3]:
main_path = os.getcwd()
main_path

'/Users/biddie/Projects/Datascience/finalproject'

In [4]:
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_CSV)

In [5]:
file_path

'/Users/biddie/Projects/Datascience/finalproject/data/author_data_new.csv'

In [6]:
%%time

author_data_new = pd.read_csv(file_path)

CPU times: user 12.7 ms, sys: 6.64 ms, total: 19.4 ms
Wall time: 22.3 ms

In [7]:
author_data_new.head()

,friends,verified,longitude,status_count,sentiment,latitude,country,tweet,platform
0,632,False,-2.32,106490.00,0.00,52.12,GB,@moel_bryn https://t.co/qvz1bI2Utb,twitter
1,278,False,-0.34,31467.00,-1.00,51.60,GB,Who wants to rap battle with me on stream tomorrow ğŸ‘€,twitter
2,169,False,-0.28,1185.00,-1.00,51.39,GB,i think she'd Understand but there's like Nothing she can do,twitter
3,195,False,0.03,2742.00,-1.00,51.39,GB,@SoccerSix #SoccerSixNashGrier pleassssssseeeeeee ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼,twitter
4,572,False,-0.09,18332.00,0.00,51.36,GB,@GraceLazard ğŸ’–,twitter

In [8]:
author_data_new.shape

(2998, 9)

# Train test

In [9]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [10]:
x = author_data_new[["friends", "verified", "longitude", "status_count", "latitude", "country", "tweet", "platform"]]

In [11]:
type(x)

pandas.core.frame.DataFrame

In [12]:
x.head()

,friends,verified,longitude,status_count,latitude,country,tweet,platform
0,632,False,-2.32,106490.00,52.12,GB,@moel_bryn https://t.co/qvz1bI2Utb,twitter
1,278,False,-0.34,31467.00,51.60,GB,Who wants to rap battle with me on stream tomorrow ğŸ‘€,twitter
2,169,False,-0.28,1185.00,51.39,GB,i think she'd Understand but there's like Nothing she can do,twitter
3,195,False,0.03,2742.00,51.39,GB,@SoccerSix #SoccerSixNashGrier pleassssssseeeeeee ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™‹ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼ğŸ™ğŸ¼,twitter
4,572,False,-0.09,18332.00,51.36,GB,@GraceLazard ğŸ’–,twitter

In [13]:
y = author_data_new["sentiment"]

In [14]:
type(y)

pandas.core.series.Series

In [15]:
y[0:5]

0    0.00
1   -1.00
2   -1.00
3   -1.00
4    0.00
Name: sentiment, dtype: float64

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [17]:
x_train.shape, x_test.shape

((2008, 8), (990, 8))

# Train Model

In [18]:
train_data, test_data = train_test_split(author_data_new, test_size=0.33, random_state=42)

In [19]:
train_data.shape, test_data.shape

((2008, 9), (990, 9))

In [20]:
train_data.head()

,friends,verified,longitude,status_count,sentiment,latitude,country,tweet,platform
406,413,True,-4.24,11819.00,1.00,55.86,GB,@CJMcFadden Can't beat a hiking trip with a banana guard.,twitter
2728,1269,False,-3.93,1764.00,-1.00,51.02,GB,@LoveIsland talk about having issues.dan has issues. You only just met!!!! Olivia miss great Britain =bunny boiler #love island #issueisland,twitter
2091,606,False,-3.51,5211.00,-1.00,55.87,GB,@Lewis27Russell nah ur alright,twitter
1505,1300,False,-2.01,28031.00,0.00,57.52,GB,@BolsoverBeast https://t.co/vo4CrD9eC1,twitter
2792,1966,False,-1.03,6038.00,0.00,50.88,GB,ğŸ™ŠğŸ™ˆ,twitter

In [21]:
test_data.head()

,friends,verified,longitude,status_count,sentiment,latitude,country,tweet,platform
1376,519,False,-1.53,27980.00,-1.00,54.90,GB,She is literally goals ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ https://t.co/vxuxMqBvKm,twitter
932,166,False,-2.16,2765.00,0.00,52.26,GB,Casually sliding around Alice's floor as a preferred mode of transport,twitter
144,2454,False,-0.06,12452.00,0.00,51.55,GB,My #TeenChoice #ChoiceMaleArtist is @zaynmalik ğŸ˜ğŸ¤â¤ï¸ğŸ‘‘ https://t.co/xItWgY9zs6,twitter
1752,2833,False,-0.25,82132.00,-1.00,51.40,GB,@JamesDeen You might have to answer a few questions as people are accusing you of Amber Rayne's death.,twitter
51,1877,False,-4.89,7161.00,-1.00,55.89,GB,this!! https://t.co/BpyTfTrU3b,twitter

In [22]:
label = 'sentiment'
print("Summary of class variables: \n", train_data[label].describe())

Summary of class variables:
 count   2008.00
mean      -0.24
std        0.78
min       -1.00
25%       -1.00
50%        0.00
75%        0.00
max        1.00
Name: sentiment, dtype: float64

In [ ]:
%%time
save_path = 'artefacts/model_sentiment'
time_limit = 60

predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Beginning AutoGluon training ...
AutoGluon will save models to "artefacts/model_sentiment/"
AutoGluon Version:  0.7.0
Python Version:     3.8.16
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 22.4.0: Mon Mar  6 20:59:28 PST 2023; root:xnu-8796.101.5~3/RELEASE_ARM64_T6000
Train Data Rows:    2008
Train Data Columns: 8
Label Column: sentiment
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == float, but few unique label-values observed and label-values can be converted to int).
	3 unique label values:  [1.0, -1.0, 0.0]
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Train Data Class Count: 3
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    908.92 MB
	Train Data (Original)  Memory Usage: 0.67 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['tweet']
			CountVectorizer fit with vocabulary size = 84
		Warning: Due to memory constraints, ngram feature count is being reduced. Allocate more memory to maximize model quality.
		Reducing Vectorizer vocab size from 84 to 60 to avoid OOM error
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Useless Original Features (Count: 1): ['platform']
		These features carry no predictive signal and should be manually investigated.
		This is typically a feature which has the same value for all rows.
		These features do not need to be present at inference time.
	Types of features in original data (raw dtype, special dtypes):
		('bool', [])         : 1 | ['verified']
		('float', [])        : 3 | ['longitude', 'status_count', 'latitude']
		('int', [])          : 1 | ['friends']
		('object', [])       : 1 | ['country']
		('object', ['text']) : 1 | ['tweet']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    :  1 | ['country']
		('float', [])                       :  3 | ['longitude', 'status_count', 'latitude']
		('int', [])                         :  1 | ['friends']
		('int', ['binned', 'text_special']) : 26 | ['tweet.char_count', 'tweet.word_count', 'tweet.capital_ratio', 'tweet.lower_ratio', 'tweet.digit_ratio', ...]
		('int', ['bool'])                   :  1 | ['verified']
		('int', ['text_ngram'])             : 61 | ['__nlp__.about', '__nlp__.all', '__nlp__.and', '__nlp__.are', '__nlp__.as', ...]
	0.4s = Fit runtime
	7 features in original data used to generate 93 features in processed data.
	Train Data (Processed) Memory Usage: 0.37 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.4s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 1606, Val Rows: 402
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...